* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    
    margin: 0;
}

@font-face {
    font-family: gilroy;
    src: url(/fonts/gilroy-extrabold-webfont.eot),
    url(/fonts/gilroy-extrabold-webfont.ttf),
    url(/fonts/gilroy-extrabold-webfont.woff),
    url(/fonts/gilroy-extrabold-webfont.woff2)
}

@font-face {
    font-family: glyphicons;
    src: url(/fonts/glyphicons-halflings-regular.eot),
    url(/fonts/glyphicons-halflings-regular.ttf),
    url(/fonts/glyphicons-halflings-regular.woff),
    url(/fonts/glyphicons-halflings-regular.woff2)
}